<div class="container-fluid">
    <div class="row">
        <!-- <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/'">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/employee'">Employee</a>
            </li>
        </ul> -->


        <nav class="navbar navbar-expand-lg navbar-light bg-light">


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="'/'">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="'/employee'">Employee</a>
                    </li>

                </ul>

            </div>
        </nav>
    </div>
</div>